@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "layout/grid";
@import "layout/about";
@import "layout/features";
@import "layout/stories";
@import "layout/footer";
@import "layout/navigation";

@import "components/feature-box";
@import "components/card";
@import "components/bg-video";
@import "components/form";
@import "components/popup";

.header{
  height: 95vh;
  background-image: linear-gradient(to right, rgba($color-primary, 0.8), rgba($color-secondary, 0.8)), url("../images/night.jpg");
  background-size: cover;
  background-position: bottom;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  @include respond(sm){
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

  }

}

.logo-box{
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo{
  height: 3.5rem;
}

.text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.btn{
  position: relative;
  font-size: 1.6rem;

  &, &:link, &:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    box-shadow: 0rem 1rem 2rem rgba(black, 0.2);
    transition: all .3s;

    //Change for the button element
    border: none;
    cursor: pointer;
  }

  &:hover{
    transform: translateY(-2px);
  }

  &:active, &:focus{
    transform: translateY(2px);
    box-shadow: 1rem 1rem 3rem rgba(black, 0.3);
  }

  &::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

  }

  &:hover::after{
    animation: 1s expand;
  }

  &-animated{
    animation: 1s moveInBottom;
    animation-delay: .75s;
    animation-fill-mode: backwards;
  }

  &--white{
    background-color: white;
    color: #777777;

    &::after{
      background-color: white;
    }
  }

  &--blue{
    background-image: linear-gradient(to right, $color-primary, $color-secondary);
    color: white;

    &::after{
      background-image: linear-gradient(to right, $color-primary, $color-secondary);
    }
  }



  &-text{

    font-size: $default-fontsize;

    &:link, &:visited{
      color: $color-secondary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-secondary;
      padding: 3px;
      transition: all .2s;
    }

    &:hover{
      background-color: $color-secondary;
      color: white;
      box-shadow: 0 1rem 2rem rgba(black, .15);
      transform: translateY(-2px);
    }

    &:active{
      transform: translateY(2px);

    }
  }

}

.section-about{
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(md){
    padding: 20rem 0;
  }

}

.section-stories{
  padding: 15rem 0;
  position: relative;


  @include respond(md){
    padding: 10rem 0;
  }

}

.section-book{
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
}

.section-tours{
  margin-top: -10rem;
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;


  @include respond(md){
    padding: 20rem 0 10rem 0;
  }

}

.book{
  background-image: linear-gradient(105deg, rgba(white, .9) 0%, rgba(white, .9) 50%, transparent 50%) , url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(black, .2);

  &__form{
    width: 50%;
    padding: 6rem;
  }
}





